//Cores
amber050 = #FFF8E1
amber100 = #FFECB3
amber200 = #FFE082
amber300 = #FFD54F
amber500 = #FFC107
amber600 = #FFB300
amber700 = #FFA000
amber800 = #FF8F00
amber900 = #FF6F00
blue500 = #2196F3
blue600 = #1E88E5
blue700 = #1976D2
blue800 = #1565C0
blue900 = #0D47A1
grey500 = #9E9E9E
grey050 = #FAFAFA
grey100 = #F5F5F5
grey200 = #EEEEEE
grey300 = #E0E0E0
grey400 = #BDBDBD
grey800 = #424242
grey900 = #212121
red400 	= #EF5350
red700 	= #D50000
red900  = #B71C1C
teal050 = #E0F2F1
teal100 = #B2DFDB
teal200 = #80CBC4
teal300 = #4DB6AC
teal500 = #009688
teal600 = #00897B
teal700 = #00796B
teal800 = #00695C
teal900 = #004D40

//Fonts
@font-face
	font-family sanspro
	src url(../fonts/SourceSansPro-Regular.ttf) format('truetype')

@font-face
	font-family lobster
	src url(../fonts/Lobster-Regular.ttf) format('truetype')

@font-face
	font-family lato
	src url(../fonts/Lato-Regular.ttf) format('truetype')
	
//Shadows
shadow1 = 0 1px 3px rgba(grey900,0.30), 0 1px 2px rgba(grey900,0.22)
shadow2 = 0 3px 6px rgba(grey900,0.16), 0 3px 6px rgba(grey900,0.23)
shadow3 = 0 10px 20px rgba(grey900,0.19), 0 6px 6px rgba(grey900,0.23)
shadow4 = 0 14px 28px rgba(grey900,0.25), 0 10px 10px rgba(grey900,0.22)
shadow5 = 0 19px 38px rgba(grey900,0.30), 0 15px 12px rgba(grey900,0.22)

//footer
footer
	width 100%
	bottom 0
	position fixed
	text-align center
	padding 1em
	font-family lobster
	img
		border-radius 50%
		box-shadow shadow1

//header
header
	background transparent
	width 100%
	padding 0 0 1em 0
	
.cMenu
	li
		&:hover .submenu
			max-height 200px

.cMenu
	nav
		margin 0 auto
		padding 0 auto
		ul
			li
				display inline-block
				line-height 1.5
				margin none
				width 4%
				.submenu
					background grey900
					box-shadow shadow4
					color white
					position absolute
					width 155px
					text-align center
					border-radius 2px
					margin-top 8px
					left -50%
					max-height 0px
					overflow hidden
					transition max-height 0.4s linear
					z-index 10
					text-align center
					li
						width 100%
						text-align center
						display block
						padding-top .5em
						padding-bottom .5em
						border-top 1px solid grey800
				img
					box-shadow shadow1
					width 48px
					height 48px
					border-radius 50%
					transition all 0.2s linear
					&:hover,&:active,&:focus
						box-shadow shadow4
					&:hover ~ .submenu
						max-height 200px
				.logo
					text-shadow shadow1
				&:nth-child(1)
					text-align left
					width 40%

//body
html, body
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(blue500,1)), color-stop(5%, rgba(blue500,1)), color-stop(100%, rgba(teal900,1)))
	background -webkit-radial-gradient(center, ellipse cover, rgba(blue500,1) 0%, rgba(blue500,1) 5%, rgba(blue900,1) 100%)
	font-family sanspro
	font-size 14px
	height 100%
	margin 0px
	padding 0px

//PreloadPage
.loading
	color white
	top 45%
	left 50%
	transform translate(-50%, -45%)
	font-family sanspro !important
	overflow hidden
	position absolute
	text-align center !important
	z-index 2

.loading-msg
	border 1px solid white
	border-radius 50%
	font-family lobster !important
	font-size 2.5em
	height 130px
	line-height 3.7em
	margin 0 auto
	margin-top 8%
	margin-bottom .3em
	width 130px
	z-index 3
	-webkit-animation logoAnimation 2.5s infinite
		

.loading-mask
	background rgba(grey900,.9)
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	z-index 1
	
//log-in
.login
	background transparent
	color grey800
	display block
	height 100%
	margin 0 auto
	position relative
	text-align center
	text-shadow textshadow1
	width 25%
	z-index 0

.contenedor-login
	position absolute
	top 20%
	margin-left auto
	margin-right auto
	left 0
	right 0

.login-footer
	display block
	margin 0 auto
	width 100%
	text-align center
	font-size 10px
	line-height 2px !important
	a
		color white
		transition all .2s ease-in-out
		&:hover
			color amber500
//Commons
.btn
	border none
	border-radius 2px
	box-shadow shadow1
	position relative
	padding 10px 20px 10px 20px
	transition all .2s ease-in-out
	overflow hidden
	&:hover
		box-shadow shadow3

.btn-small
	width 40%
.btn-mediun
	width 80%
.btn-large
	width 100%
	
.button-error
	background red400
	color rgba(white,0.8)
	&:hover
		color rgba(white,1)
.button-warning
	background amber200
	color rgba(grey900,0.8)
	&:hover
		color rgba(grey900,1)
.button-normal
	background rgba(grey100,1)
	color rgba(grey900,0.8)
	&:hover
		color rgba(grey900,1)
.button-teal
	background rgba(blue700,1)
	color rgba(white,0.8)
	&:hover
		color rgba(white,1)

.control-button
	button
		height 3em
		position relative
		text-align center
		transition all .2s linear
		span
			position absolute
			z-index 3
			top 50%
			left 50%
			transform translate(-50%, -50%)
		small
			background transparent
			width 20px
			height 20px
			border-radius 50%
			position absolute
			margin-left auto
			margin-right auto
			left 0
			right 0
			transition all .4s linear
			transform scale(0)
			z-index 1
		&:focus
			outline 0px !important
			-webkit-appearance none
		&:active
			box-shadow shadow1
			outline 0px !important
			-webkit-appearance none
		&:hover>small
			// background rgba(amber500,.5)
			transform scale(10)

.control-input
	margin-bottom 30px
	position relative
	label
		position absolute
		color white
		top 15%
		left 0
		pointer-events none
		transition all .4s ease-in-out
	
input
	appearance none
	border none
	border-radius 2px
	border-bottom 1px solid white
	display block
	line-height 1.8em
	transition all .4s ease-in-out
	width 100%
	background transparent
	color white
	&:hover,
	&:focus
		line-height 2em
		outline  none
		appearance none
		border-color amber500
		color white
	&:focus,
	&:hover,
	&:active,
	&:valid ~ label
		top -20px
		font-size 12px

.form-controls
	margin 20px auto
	position relative
	
.titulo-especial
	text-shadow shadow1
	margin 0px auto
	margin-bottom 2em
	padding 0px
	color white
	
.contenedor-center
	margin 0px auto
	width 80%
	padding 0px
	font-size 16px
	display block
	
logo
	font-family lobster
	margin 0px auto
	padding 0px
					
logo-shadow
	font-family lobster
	text-shadow shadow1
	margin 0px auto
	padding 0px
	font-size 4em
a
	-webkit-appearance none
	text-decoration none
	color inherit

ul
	margin 0 auto
	padding 0
	text-align center
	width 100%
	li
		list-style none
		// overflow hidden
		position relative
		a
			color rgba(white,0.5)
			transition color .4s linear
			&:hover
				color white
			// span
			// 	small
			// 		background rgba(grey500,0.1)
			// 		width 20px
			// 		height 20px
			// 		border-radius 50%
			// 		position absolute
			// 		margin-left auto
			// 		margin-right auto
			// 		left 0
			// 		right 0
			// 		transition all 0.4s linear
			// 		transform scale(0)
			&:active,
			&:focus
				outline 0px !important
				-webkit-appearance none
			&:hover>span>small
				background rgba(grey500,0.1)
				transform scale(10)

h1,h2,h3,h4,h5
	font-weight bold
	padding 0px
	margin 0px
	position relative
	small
		text-shadow none
		color grey800
		font-style oblique
		font-family sanspro
		font-size .15em
		position absolute
		bottom 0
		left 0
h1
	font-family lobster
	font-size 7em

h2
	font-family lobster
	font-size 5em

h3
	font-family sanspro
	font-size 3em

//alertas
.user-alert
	background rgba(white,.9)
	box-shadow shadow4
	border-radius .3em
	bottom 0
	margin-bottom 1em
	margin-right 1em
	padding .9em
	position absolute
	right 0
	div
		display inline-block
	.avatar
		// background-image: url("/img/avatar/jake.jpg")
		border-radius 50%
		height 3.5em
		margin .5em
		overflow hidden
		position absolute
		right 0
		top 0
		width 3.5em
		img
			height 50px
			width 50px
	.info
		border-bottom 1px solid blue500
		height 100%
		width 250px
		margin .5em
		line-height .5em
		padding 0
		padding-bottom .5em
		top 0
		p
			font-size 1em
			font-weight bold
			margin 0
			padding 0
			small
				font-size .5em
				color grey800
				
//Animaciones
@-webkit-keyframes logoAnimation {
	0%		{color:white;border: 1px solid white;}
	25% 	{color:red400;border: 1px solid red400;}
	50%		{color:amber500;border: 1px solid amber500;}
	75%		{color:cyan;border: 1px solid cyan;}
	100%	{color:white;border: 1px solid white;}
}

@-webkit-keyframes resplandorBtn {
	0%		{background: amber700;}	
	50%		{background: amber800;}
	100%	{background: amber700;}
}