{% extends "layout.html" %}
{% block content %}
	<header>
		<div class="cMenu" >
			<nav>
				<ul>
					<li><a href=""><h2 class="logo">Ciza<small>Software Factory</small></h2></a></li>
					<li><img src="/img/icons/pencil.png" alt="">
						<ul class="submenu">
							{% for md in menuDemo2%}
								<li><a href="#/{{md.temp}}"> {{md.desc}} </a></li>
							{% endfor %}
						</ul>
					</li>
					<li><img src="/img/icons/polaroids.png" alt=""></li>
					<li><img src="/img/icons/gear.png" alt=""></li>
					<li><a href="/log-out" ><img src="/img/icons/unlocked.png" alt=""></a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="dashboard">
		<div ng-view></div>
	</section>

{% endblock %}